body {
    background-color: honeydew;
    text-align: center;
    background-image: url('background.png');
    
    padding: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    width: 100%;
}

.container2{
    margin-left:250px ;
    align-content: center;
    text-align: left;

    width: 50%;
}